# Android Studio / IntelliJ
*.iml
.idea/
.gradle/
local.properties

# Build artifacts
build/
**/build/

# OS specific
.DS_Store

# Gradle
/gradle.properties
gradle-daemon-jvm.properties
/captures
.externalNativeBuild
.cxx
